h1 {
  color: #C70039;
}

h2 {
  color: lightsalmon;
}

#dropdown-list {
  height: 50px;
}

.small-title {
  margin-bottom: 25px;
  font-size: 20px;
}

.row.content {
  height: 67vh;
}

.data {
  overflow: scroll;
  height: 100%;
  padding: 15px;
}

.side-list {
  border-right: 2px dashed lightsalmon;
  height: 100%;
  padding: 15px;
}

footer {
  height: 7vh;
  background-color: #f1f1f1;
  font-size: 12px;
  text-align: center;
  font-style: oblique;
  line-height: 7vh;
}

.header {
  height: 25vh;
}

@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }

  .row.content {
    height: auto;
  }
}
