<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
  <div class="row content">
    <img id="map" src="../../assets/img/world-map.png"/>
  </div>
</div>
<div class="container-fluid" id="footer">
  <div class="item" *ngFor="let key of keys"
       [ngStyle]="{'background-image': 'url(../../assets/img/categories/' + key + '.jpg)'}">
    <button class="btn-link category-title" (click)="showAnalysisDetails(key)">{{eventNames[key]}}</button>
  </div>
</div>
</body>
</html>
